/*
    14px = 0.875rem
    18px = 1.125rem
    20px = 1,25rem
    24px = 1.5rem
    28px = 1.75rem
    36px = 2.25rem
    40px = 2.5rem
    56px = 3.5rem
    64px = 4rem
    192px = 12rem
    224px = 14rem
    272px = 17rem
    320px = 20rem
    384px = 24rem
    464px = 29rem
*/

:root {
    --Branco: #fff;
    --BrancoSuave: #f7f7f7;
    --Preto: #000;
    --Fundo: #F3E9DC;
    --Creme: #E3CAB1;
    --Laranja: #DC720E;
    --Vinho: #7B2D26;
    --Oliva: #6A994E;
    --Azul: #264653;
    --AzulClaro: #3A78BF;
    --VermelhoVibrante: #D72638;
    --Marrom: #511B06;
}

/* CATÁLOGO */

.main-container{
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 4rem;
    gap: 2rem;
}

.mobile-search-result{
    font-size: 1.25rem;
    text-align: start;
    width: 100%;
}

.filter{
    background-color: var(--Vinho);
    border-radius: 10px;
    padding: 1rem min(1.2rem, 10%) 2rem 1rem;
    color: var(--Branco);
    flex: 1;   
}

.filter fieldset, .mobile-filter fieldset{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.filter fieldset:not(:last-child),
.mobile-filter fieldset:not(:last-child){
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
    border-bottom: 1px solid var(--Branco);
}

.filter label, .mobile-filter label{
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter input[type="checkbox"],
.mobile-filter input[type="checkbox"]{
    border: 1px solid var(--Branco);
    width: 1.125rem;
    height: 1.125rem;
    margin-right: 1rem;
    font-size: 1.125rem;
    appearance: none;
}

.filter input[type="checkbox"]:checked,
.mobile-filter input[type="checkbox"]:checked{
    background: url(../elements/icons/icon-correto.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--Oliva);
}

.mobile-filter button{
    background-color: var(--Vinho);
    color: var(--Branco);
    font-size: 1.25rem;
    border: none;
    height: 3rem;
    text-align: start;
}

.mobile-filter .dropdown-menu{
    width: 12.5rem;;
}

.mobile-filter button:hover,
.mobile-filter button:active,
.mobile-filter button:focus,
.mobile-filter button.show{
    background-color: var(--Vinho);
    color: var(--Branco);
}

.mobile-filter .dropdown-toggle:hover,
.mobile-filter .dropdown-toggle:focus,
.mobile-filter .dropdown-toggle:active {
    background-color: var(--Vinho) !important;
    box-shadow: none !important;
    color: var(--Branco) !important;
}

.mobile-filter .dropdown-menu{
    background-color: var(--Vinho);
    color: var(--Branco);
    padding: 1rem;
}

.catalogue{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25rem;
    flex: 5;
}

.catalogue-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-result h1{
    font-size: 2rem;
    color: var(--Preto);
}

.sort-btn, .mobile-sort-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sort-btn p, .mobile-sort-btn p{
    text-align: center;
    margin: 0 1rem 0 0;
}

.sort-btn button, .mobile-sort-btn button{
    background-color: var(--Oliva);
    color: var(--Branco);
    font-size: 1.25rem;
    border: none;
    height: 3rem;
    width: 10.5rem;
    text-align: start;
}

.mobile-sort-btn button, .mobile-sort-btn .dropdown-menu{
    width: 12.5rem;
}

.sort-btn button:hover, 
.sort-btn button:active,
.sort-btn button:focus,
.sort-btn button.show
.mobile-sort-btn button:hover,
.mobile-sort-btn button:active,
.mobile-sort-btn button:focus,
.mobile-sort-btn button.show{
    background-color: var(--Oliva) !important;
    color: var(--Branco) !important;
}

.mobile-sort-btn .dropdown-toggle:hover,
.mobile-sort-btn .dropdown-toggle:focus,
.mobile-sort-btn .dropdown-toggle:active {
    background-color: var(--Oliva) !important;
    box-shadow: none !important;
    color: var(--Branco) !important;
}

.dropdown-toggle:active {
    background-color: inherit; /* Ou a cor desejada */
    box-shadow: none; /* Remove bordas ou sombras indesejadas */
}

.dropdown-toggle:focus {
    outline: none; /* Remove o contorno azul padrão */
    background-color: inherit; /* Ajuste a cor de fundo se necessário */
}


.dropdown-menu{
    background-color: var(--Azul);
    padding: 0;
    margin-top: 1rem;
    border-radius: 10px !important;
    width: 10.5rem;
}

.dropdown-item{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.25rem;
    background-color: var(--Azul);
    color: var(--Branco);
    height: 3rem;
}

.dropdown-item:first-child{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dropdown-item:last-child{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-item:hover{
    background-color: var(--Azul);
    color: var(--Laranja);
}

.cards{
    justify-content: space-between;
    padding: 0;
    
}

.catalogue-card{
    background-color: var(--Fundo);
    color: var(--Laranja);
    border: 1px solid var(--Laranja);
    border-radius: 0;
    transition: all 0.3s ease;
}

.catalogue-card:last-child{
    margin-right: auto;
}

.card-info{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-info::before{
    content: ''; /* Necessário para pseudo-elementos */
    position: absolute;
    top: 0; /* Posiciona no topo */
    left: 10%; /* Começa após 10% da largura */
    right: 10%; /* Termina antes de 10% da largura */
    height: 2px; /* Espessura da borda */
    background-color: var(--Laranja); /* Cor da borda */
}

.card-title{
    font-size: 1.125rem;
    font-weight: 500;
    text-align: center;
    flex-grow: 1;
}

.card-price{
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
    margin: 0;
}

.card-btn{
    background: var(--Fundo);
    color: var(--Laranja);
    border: 3px solid var(--Laranja);
    border-radius: 0;
    font-size: 1.25rem;
}

.custom-button{
    font-size: 1.25rem;
    width: 12rem;
    height: 3.5rem;
}

.custom-button .plus-icon{
    background-image: url('../elements/icons/icon-mais.svg');
    width: 2rem;
    height: 2rem;
}

/* ------------------- MEDIA QUERIES ------------------- */

/* TELAS PEQUENAS */

@media (max-width: 1200px) {
    .card-title, .card-btn{
        font-size: 1rem;
    }
}

@media (max-width: 900px) {
    .main-container{
        padding: 0 1rem;
    }

    .filter{
        display: none;
    }

    .custom-button{
        background-color: var(--Laranja);
        color: var(--Branco);
    }

    .search-result, .sort-btn{
        display: none;
    }
}

@media (max-width: 24rem) {
    .mobile-filter button, .mobile-sort-btn button{
        width: auto;
        height: auto;
    }

    .mobile-filter button span, .mobile-sort-btn span{
        display: none;
    }
}

@media (max-width: 300px) {
    .row-col-xs-1 > *{
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

/* TELAS GRANDES */


@media (min-width: 901px) {
    .main-container{
        padding-left: clamp(4px, 10vw, 464px); /* 384px + 5rem da navbar */
        padding-right: clamp(4px, 10vw, 384px);
    }

    .mobile-search-result, .mobile-filter, .mobile-sort-btn{
        display: none;
    }

    .catalogue-card:hover{
        background-color: var(--Laranja);
        color: var(--Branco);
    }
    
    .catalogue-card:hover .card-img{
        filter: drop-shadow(3px 0 0 white)  /* Direita */
                drop-shadow(-3px 0 0 white) /* Esquerda */
                drop-shadow(0 3px 0 white)  /* Inferior */
                drop-shadow(0 -3px 0 white);/* Superior */
    }
    
    .catalogue-card:hover .card-info:before{
        background-color: var(--Branco);
    }
    
    .catalogue-card:hover .card-btn{
        background-color: var(--Laranja);
        color: var(--Branco);
        border-color: var(--Branco);
    }
    
    .catalogue-card:hover .card-btn:hover{
        background-color: var(--Branco);
        color: var(--Laranja);
        border-color: var(--Branco);
    }

    .catalogue-card:hover .card-btn:active,
    .catalogue-card:hover .card-btn:focus{
        background-color: var(--Laranja) !important;
        color: var(--Branco) !important;
        border-color: var(--Laranja) !important;
    }
}
