/*
    14px = 0.875rem
    18px = 1.125rem
    20px = 1,25rem
    24px = 1.5rem
    28px = 1.75rem
    36px = 2.25rem
    40px = 2.5rem
    58px = 3.625rem
    64px = 4rem
    192px = 12rem
    224px = 14rem
    272px = 17rem
    384px = 24rem
    464px = 29rem
*/

:root {
    --Branco: #fff;
    --BrancoSuave: #f7f7f7;
    --Preto: #000;
    --Fundo: #F3E9DC;
    --Creme: #E3CAB1;
    --Laranja: #DC720E;
    --Vinho: #7B2D26;
    --Oliva: #6A994E;
    --Azul: #264653;
    --AzulClaro: #3A78BF;
    --VermelhoVibrante: #D72638;
    --Marrom: #511B06;
}

/* SELOS DE APROVAÇÃO */

.approval-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    margin-bottom: 12rem;
}

.approval-block {
    display: flex;
}

.approval-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
}

.approval-item {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.approval-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.approval-icon svg {
    width: 48px;
    height: 48px;
}

.approval-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.approval-info h3 {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-align: left;
}

/* CARROSSEL DE PRODUTOS */

.propaganda-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #3A78BF;
}

.propaganda-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.propaganda-item {
    flex-grow: 1;
    flex-basis: 0;
}

.caroussel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Oliva);
}

.caroussel-img {
    width: 500px;
    height: 500px;
}

.propaganda-info {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.propaganda-info h2 {
    font-size: 1.75rem;
    color: var(--Laranja);
    margin-bottom: 1.5rem;
}

.propaganda-info p {
    font-size: 1.25rem;
}

.propaganda-info span {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--Laranja);
    text-transform: capitalize;
    margin-top: 2rem;
}

/*OS PRODUTO AQUI SÔ*/

.products-header {
    text-align: center;
    color: var(--Preto);
    margin-bottom: 2rem;
}

.products-header h1 {
    font-size: 1rem;
    font-weight: 400;
}

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Fundo);
}

.products {
    width: 80%;
    margin: 0 auto,
}

.products-swiper {
    width: 100%;
}

#products-container .swiper-slide {
    box-shadow: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    flex: 1;
    padding: 1rem;
}

.content .content-specification span {
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--Laranja);
    text-transform: capitalize;
    margin-top: 0.5rem;
}

/*animação aqui, deixar isso melhor depois ajustar*/

.content-specification {
    transform: translateX(-100px);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0.7s;
    margin-bottom: 2rem;
}

.swiper-slide .content h1 {
    color: var(--Laranja);
    font-weight: bold;
    transform: translateX(-100px);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0.5s;
    margin-bottom: 2rem;
}

.swiper-slide .content p {
    transform: translateX(-100px);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0.7s;
    margin-bottom: 2rem;
}

.image-container img {
    max-width: 100%;
    height: auto;
    transform: translateX(-100px);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0.8s;
}

.button-wrapper {
    margin-top: 0.5rem;
    transform: translateX(-100px);
    opacity: 0;
    transition-duration: 1s;
    transition-delay: 0.7s;
}

.swiper-slide-active .content h1,
.swiper-slide-active .content p,
.swiper-slide-active .image-container img,
.swiper-slide-active .button-wrapper,
.swiper-slide-active .content-specification {
    transform: none;
    opacity: 1;
}

/*Fim da animação, fica esperto*/

.nav-carousel {
    display: flex;
    justify-content: center;
}

.nav-carousel i {
    color: var(--Laranja);
}

.custom-button{
    width: 15rem;
    font-size: 1.125rem;
}

/*botao especial cabo*/

.button-next,
.button-prev {
    margin: 0 10px;
    cursor: pointer;
    font-size: 1.5em;
}


/*ESILIZAÇÃO CLIENTES*/

.testimonials-container {
    margin-top: 5rem;
    background-color: var(--Vinho);
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 2rem 6%;
}

.testimonials-header {
    text-align: center;
    color: var(--BrancoSuave);
}

.testimonials-header h1 {
    font-size: 1rem;
    font-weight: 400;
}

.testimonials-header p {
    font-size: 1rem;
    max-width: 485px;
}

.swiper.testimonials-swiper {
    width: 100%;
    height: 339px;
    padding-bottom: 3rem;
}

.swiper-slide {
    background-color: var(--Fundo);
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    padding: 1rem 2rem;
}

.testimonial-author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-icon {
    width: 40px;
    height: 40px;
    background-image: url('../elements/icons/user-cliente.svg');
    background-size: cover;
    border-radius: 100%;
}

.author-info h3 {
    font-weight: 600;
    font-size: 0.875rem;
}

.author-info p {
    font-size: 0.75rem;
}

.testimonial-quote {
    font-size: 1rem;
    border-bottom: 1px solid #000;
    padding-bottom: 0.5rem;
    flex-grow: 1;
}

.testimonial-product {
    display: flex;
    align-items: center;
    margin-top: auto;
}

.product-image {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}

.product-name {
    font-size: 0.875rem;
    font-weight: 600;
    color: #000;
}

/* Navegação de Avaliações */
.testimonials-swiper .swiper-button-prev.testimonials-button-prev,
.testimonials-swiper .swiper-button-next.testimonials-button-next {
    background-color: #fff;
    width: 25px;
    height: 25px;
    color: var(--Laranja);
    border: 1px solid #f9fafb;
    border-radius: 100%;
    box-shadow: 0px 0px 20px 0px rgba(92, 115, 160, 0.2);
}

.testimonials-swiper .swiper-button-prev.testimonials-button-prev::after {
    content: '\f053';
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    font-size: 14px;
}

.testimonials-swiper .swiper-button-next.testimonials-button-next::after {
    content: '\f054';
    font-family: 'Font Awesome 5 free';
    font-weight: 900;
    font-size: 14px;
}

.testimonials-swiper .swiper-button-next.testimonials-button-next {
    right: 1px;
}

.testimonials-swiper .swiper-button-prev.testimonials-button-prev {
    left: 1px;
}

.testimonials-swiper .swiper-pagination.testimonials-pagination .swiper-pagination-bullet-active {
    background-color: var(--Laranja);
}

/* ------------------- MEDIA QUERIES ------------------- */

/* TELAS PEQUENAS */

@media (max-width: 1260px) {
    #products-container .swiper-slide {
        padding: 0;
    }
}

@media (max-width: 1100px) {
    .products {
        width: 100%;
    }

    .image-container {
        width: 70%; /*ajustar conforme achar melhor o tamanho da imagem*/
        height: auto;
    }
}

@media (max-width: 900px) {
    .approval-block {
        flex-direction: column;
    }

    .approval-item {
        flex-direction: column;
        justify-content: space-between;
        border-right: none;
        height: 100%;
    }

    .approval-info h3 {
        font-size: 0.875rem;
    }

    .approval-info {
        font-size: 0.875rem;
    }

    .approval-info,
    .approval-info h3 {
        text-align: center;
    }

    .testimonials-container,
    .teste,
    .approval-container,
    .propaganda-container {
        padding: 0 1rem;
    }
}

@media (max-width: 780px) {
    #products-container .swiper-slide {
        display: flex;  /*ajustar quando quiser que quebra*/
        flex-direction: column;
        align-items: center;
    }

    .image-container {
        width: 60%; /*ajustar conforme achar melhor o tamanho da imagem*/
        height: auto;
    }
}

@media (max-width: 600px) {
    .approval-icon svg {
        margin-bottom: auto;
    }
}

@media (max-width: 480px) {
    .approval-icon svg {
        width: 30px;
        height: 30px;
    }
}

/* TELAS GRANDES */

@media (min-width: 901px) {

    .testimonials-container,
    .teste,
    .approval-container,
    .propaganda-container,
    .products-container {
        padding-left: clamp(4px, 10vw, 464px);
        padding-right: clamp(4px, 10vw, 384px);
    }
}