/*
    14px = 0.875rem
    18px = 1.125rem
    20px = 1.25rem
    24px = 1.5rem
    28px = 1.75rem
    36px = 2.25rem
    40px = 2.5rem
    58px = 3.625rem
    64px = 4rem
    192px = 12rem
    224px = 14rem
    272px = 17rem
    384px = 24rem
    464px = 29rem
*/

:root {
    --Branco: #fff;
    --BrancoSuave: #f7f7f7;
    --Preto: #000;
    --Fundo: #F3E9DC;
    --Creme: #E3CAB1;
    --Laranja: #DC720E;
    --Vinho: #7B2D26;
    --Oliva: #6A994E;
    --Azul: #264653;
    --AzulClaro: #3A78BF;
    --VermelhoVibrante: #D72638;
    --Marrom: #511B06;
}

/* RESUMO DO PEDIDO */

.checkout-container{
    background-color: var(--AzulClaro);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4rem;
}

.order-container{
    background-color: var(--Oliva);
    display: grid;
    grid-template-rows: 1fr 150px;
    transition: .5s;
    width: 600px;
}

.order-list .order-item{
    display: grid;
    grid-template-columns: 130px 1fr 100px;
    gap: 10px;
    text-align: center;
    align-items: center;
    margin-bottom: 1rem;
}

.order-list .order-item img{
    width: 100%;
}

.order-list .order-item .image{
    position: relative;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.checkoutQuantity{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--Laranja);
    color: var(--Branco);
    width: 30px;
    border-radius: 50%;
    font-size: 1.25rem;
}

.order-item .name{
    font-size: 1.125rem;
}

.order-item .totalQuantityPrice{
    font-size: 1.125rem;
    font-weight: 600;
}

.adress-shipping-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.adress-container{
    background-color: var(--Laranja);
    display: flex;
    justify-content: center;
    align-items: start;
}

.shipping-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.shipping fieldset{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.shipping fieldset label{
    font-size: 1.25rem;
    padding: 1rem;
}

/* TELAS GRANDES */

@media (min-width: 901px) {
    .checkout-container{
        padding-left: clamp(4px, 10vw, 464px);
        padding-right: clamp(4px, 10vw, 384px);
    }
}