:root {
    --Branco: #fff;
    --BrancoSuave: #f7f7f7;
    --Preto: #000;
    --Fundo: #F3E9DC;
    --Creme: #E3CAB1;
    --Laranja: #DC720E;
    --Vinho: #7B2D26;
    --Oliva: #6A994E;
    --Azul: #264653;
    --AzulClaro: #3A78BF;
    --VermelhoVibrante: #D72638;
    --Marrom: #511B06;
}

body {
    background-color: var(--Fundo);
}

/*SEÇÃO 1 e 2*/

.brand-container {
    background-color: rgba(220, 114, 14, 0.7); /* 70% de opacidade */
    color: var(--BrancoSuave);
}

.profile-container {
    background-color: var(--Fundo);
    color: var(--Marrom);
 }

.brand-section,
.profile-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.brand-logo,
.profile-image {
    max-width: 70%; /*ajustar caso queira maior*/
}

.profile-section img {
    border-radius: 50%;
}

.brand-text,
.profile-text {
    max-width: 60%;
}

.brand-text h1 {
    font-weight: bold;
}

.profile-text h1 {
    margin-bottom: 3rem;
    text-align: center;
    font-weight: bold;
}


/*MEDIA QUERYS*/

@media (max-width: 768px) {
    .brand-section,
    .profile-section {
        flex-direction: column;
        text-align: center;
        padding: 1rem;
    }

    .brand-text,
    .profile-text {
        max-width: 90%; /*ajustar aqui caso queira maior*/
        margin-top: 1rem;
    }
}

/*MEDIA QUERY MARGEM*/

@media (min-width: 901px) {

    .brand-container,
    .profile-container {
        padding-left: clamp(4px, 10vw, 464px);
        padding-right: clamp(4px, 10vw, 384px);
    }
}