/*
    14px = 0.875rem
    18px = 1.125rem
    20px = 1,25rem
    24px = 1.5rem
    28px = 1.75rem
    36px = 2.25rem
    40px = 2.5rem
    58px = 3.625rem
    64px = 4rem
    192px = 12rem
    224px = 14rem
    272px = 17rem
    384px = 24rem
    464px = 29rem
*/

:root {
    --Branco: #fff;
    --BrancoSuave: #f7f7f7;
    --Preto: #000;
    --Fundo: #F3E9DC;
    --Creme: #E3CAB1;
    --Laranja: #DC720E;
    --Vinho: #7B2D26;
    --Oliva: #6A994E;
    --Azul: #264653;
    --AzulClaro: #3A78BF;
    --VermelhoVibrante: #D72638;
    --Marrom: #511B06;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothicPaneuropeanRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    position: relative;
    background-color: var(--Fundo);
    color: var(--Preto);
    font-family: 'Century Gothic', sans-serif;
    font-size: 16px;
}

svg {
    color: var(--Branco);
}

/* CLASSES UNIVERSAIS */

.title {
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 1rem;
}

.title-color {
    text-transform: capitalize;
    font-weight: bold;
    color: var(--Laranja);
}

.link-reset{
    text-decoration: none;
    color: inherit;
}

.custom-button {
    position: relative;
    padding: 10px 20px;
    background-color: var(--Fundo);
    color: var(--Laranja);
    border: 3px solid var(--Laranja);
    border-radius: 0.7rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 200px; /* ajustar conforme o tamanho final primeiro use "auto" */
    transition: background-color 0.3s, color 0.3s;
    overflow: hidden;
}

.custom-button .button-text {
    transition: transform 0.3s;
}

.custom-button .button-icon {
    display: none;
    margin-left: 10px;
}

.custom-button .arrow-icon,
.custom-button .catalog-icon,
.custom-button .plus-icon {
    width: 12px;
    height: 12px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.custom-button .arrow-icon {
    background-image: url('../elements/icons/icon-seta.svg');
}

.custom-button .catalog-icon {
    background-image: url('../elements/icons/icon-catalogo.svg');
    width: 32px;
    height: 32px;
}

/* ---------------------------------------- */

/* NAVBAR */

.navbar{
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--Laranja);
    transition: all 0.3s ease;
    z-index: 999;
}

.navbar-nav{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

.logo{
    margin-bottom: 1.5rem;
    width: 100%;
}

.logo a:hover{
    cursor: default;
}

.logo img{
    width: 80px;
    height: 80px;
}

.logo-text{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    text-wrap: nowrap;
}

.nav-item{
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
    transition: all 0.15s ease-in-out;
}

.nav-link{
    display: flex;
    align-items: center;
}

.link-text{
    display: none;
    font-size: 1.25rem;
    color: var(--Branco);
}

.toggle-nav{
    display: none;
}

/* UTILITY-BAR */

.utility-container{
    width: 100%;
    padding-left: clamp(4px, 10vw, 480px); /* 384px + 5rem da navbar + 8px de padding */
    padding-right: clamp(4px, 10vw, 384px);
    background-color: var(--Vinho);
    transition: all 0.3s ease;
}

.utility-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--Branco);
}

.promo-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 4px 0;
    text-align: center;
    border-bottom: 1px solid var(--Branco);
}

.coupon{
    font-weight: bold;
    font-size: 1.25rem;
    text-wrap: nowrap;
    overflow-x: auto;
}

.utilities{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
    background-color: var(--Branco);
    padding-right: 12px;
    border: none;
}

.search-btn:hover{
    cursor: pointer;
}

.search-input{
    background-color: var(--Branco);
    border: none;
}

.utility-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.icon-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon{
    position: relative;
}

.cart-icon-counter{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.75rem;
    top: 50%;
    right: -10px;
    border-radius: 100%;
    height: 1.25rem;
    width: 1.25rem;
    background-color: var(--Laranja);
    color: var(--Branco);
}

/* CARRINHO REDUZIDO */

.cartTab{
    position: absolute;
    width: 450px;
    /* background-color: #353432; */
    background-color: var(--Fundo);
    box-shadow: -4px 0 10px rgba(0, 0, 0, 25%);
    color: var(--Preto);
    position: fixed;
    top: 0;
    right: -450px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    z-index: 999;
    height: 100svh;
}
body.showCart .cartTab{
    right: 0;
}
.icon-cart{
    position: relative;
    cursor: pointer;
}
.icon-cart span{
    position: absolute;
    background-color: var(--Fundo);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #000;
    top: 40%;
    left: -10px;
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
    color: var(--Preto);
    font-size: 1.5rem;
    text-align: center;
}
.quantity span:not(.totalQuantity){
    background-color: var(--Laranja) !important;
    color: var(--Branco) !important;
}
.quantity{
    user-select: none; /* Para navegadores modernos */
    -webkit-user-select: none; /* Safari/Chrome */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: var(--Oliva);
    color: var(--Branco);
    border: none;
    font-weight: 500;
    cursor: pointer;
    height: 56px;
}
.cartTab .close{
    background-color: var(--VermelhoVibrante);
    color: var(--Branco);
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 70px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.totalPrice{
    text-wrap: nowrap;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: var(--Fundo);
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: var(--Preto);
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: var(--Creme);
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
.finalPrice{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: auto;
    padding: 8px;
}
.finalPrice span{
    font-weight: 500;
}

/*FOOTER*/

.footer-container {
    background-color: var(--Azul);
    margin-top: 4rem;
    padding: 2rem 0 0.5rem 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 2rem 6%;
}

.footer-section {
    flex: 1;
    min-width: 200px;
    color: var(--BrancoSuave);
}

.footer-brand{
    flex: 2;
}

.footer-section h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
}

.footer-section h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.footer-section ul li a,
.footer-bottom a {
    text-decoration: none;
    color: var(--BrancoSuave);
    transition: color 0.3s ease-in-out;
}

.footer-section ul li a:hover,
.footer-bottom a:hover {
    color: var(--Laranja);
}

.footer-section img {
    max-width: 40%;
    height: auto;
}

.footer-bottom {
    color: var(--BrancoSuave);
    text-align: center;
    margin-top: 1rem;
}

.footer-bottom hr {
    margin-bottom: 0.5rem;
}

/* ------------------- MEDIA QUERIES ------------------- */


/* TELAS PEQUENAS */

@media (max-width: 900px) {
    .navbar {
        top: 0;
        left: -92vw;
        position: fixed;
        width: 100vw;
        height: 85px;
        padding: 0;
        border-radius: 0 10px 10px 0;
    }

    .navbar-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        height: 100%;
    }

    .logo {
        display: none;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        flex-grow: 1;
        margin-left: auto;
    }

    .nav-link {
        height: 100%;
    }

    .toggle-nav {
        display: flex;
        justify-content: center;
        transform: rotate(0deg);
        transition: all 0.3s ease;
        flex-grow: 1;
        max-width: 8vw;
        background-color: var(--Laranja);
        border-radius: 0 10px 10px 0;
    }

    .icon-arrow {
        fill: var(--Branco);
    }

    .coupon {
        font-size: 1rem;
    }

    .promo-text,
    .socials {
        font-size: 0.875rem;
    }

    .footer-container {
        padding-left: clamp(5rem, 10vw, 464px);
        padding-right: clamp(5rem, 10vw, 384px);
    }

    .custom-button .button-icon {
        display: block;
    }
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
    }
}

@media (max-width: 725px) {
    .utility-container {
        padding-left: 10vw;
        padding-right: 1rem;
    }

    .search-container {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .navbar {
        height: 88px;
    }

    .promo-bar {
        justify-content: center;
    }

    .coupon {
        font-size: 1.125rem;
    }

    .promo-text,
    .socials {
        display: none;
    }

    .utility-icons {
        gap: 0.5rem;
    }

    .footer-container {
        padding-left: clamp(4px, 5vw, 464px);
        padding-right: clamp(4px, 5vw, 384px);
    }
}

@media (max-width: 480px) {
    .navbar {
        height: 82px;
    }

    .utility-container {
        padding-left: 10vw;
        padding-right: 1rem;
    }

    .coupon {
        font-size: 0.875rem;
    }

    .utilities{
        gap: 0.5rem;
    }

    .utility-icons svg {
        width: 28px;
        height: 28px;
    }

    .cartTab{
        width: 100%;
        right: -100%;
    }
    .listCart .item{
        grid-template-columns: 50px 130px 90px 1fr;
        gap: 5px;
        padding: 0.5rem;
    }
}

@media (max-width: 335px) {
    .utility-icons {
        gap: 4px;
    }
    .cartTab{
        font-size: 0.875rem;
    }
}

/* TELAS GRANDES */

@media (min-width: 901px) {
    .navbar {
        box-shadow: 4px 0 10px rgba(0, 0, 0, 25%);
    }

    .nav-link svg {
        min-width: 2rem;
        margin: 0 1.5rem;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: block;
    }

    .nav-item:hover {
        background-color: var(--Branco);
    }

    .nav-item:hover svg {
        color: var(--Preto);
    }

    .search-input {
        width: 384px;
    }

    .nav-item:hover .link-text {
        color: var(--Preto);
    }

    .footer-container {
        padding-left: clamp(4px, 10vw, 464px);
        padding-right: clamp(4px, 10vw, 384px);
    }

    .custom-button:hover {
        background-color: var(--Laranja);
        color: var(--BrancoSuave);
    }
    
    .custom-button:hover .button-text {
        transform: translateX(-10px);
    }
    
    .custom-button:hover .button-icon {
        display: block;
    }
    
    .custom-button:hover .arrow-icon,
    .custom-button:hover .catalog-icon {
        transform: translateX(0);
    }

    .custom-button, .arrow-icon{
        margin-left: 0 !important;
    }
}