/*
    14px = 0.875rem
    18px = 1.125rem
    20px = 1,25rem
    24px = 1.5rem
    36px = 2.25rem
    40px = 2.5rem
    64px = 4rem
    192px = 12rem
    384px = 24rem
*/

:root {
    --Branco: #fff;
    --BrancoSuave: #f7f7f7;
    --Preto: #000;
    --Fundo: #F3E9DC;
    --Creme: #E3CAB1;
    --Laranja: #DC720E;
    --Vinho: #7B2D26;
    --Oliva: #6A994E;
    --Azul: #264653;
    --AzulClaro: #3A78BF;
    --VermelhoVibrante: #D72638;
    --Marrom: #511B06;
    --Hover: 0.15s;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothicPaneuropeanRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--Fundo);
    color: var(--Preto);
    font-family: 'Century Gothic', sans-serif;
    font-size: 16px;
}

svg {
    color: var(--Branco);
}

/* CLASSES REUTILIZÁVEIS */

.title {
    font-size: 2.25rem;
}

.title-color {
    text-transform: capitalize;
    font-weight: bold;
    color: var(--Laranja);
}

/* ---------------------------------------- */

/* NAVBAR */

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--Laranja);
    transition: all 0.3s ease;
    z-index: 1;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: auto;
}

.logo {
    margin-bottom: 1.5rem;
    width: 100%;
}

.logo img {
    width: 80px;
    height: 80px;
}

.logo-text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    text-wrap: nowrap;
}

.nav-item {
    width: 100%;
    height: 100%;
    padding: 0.5rem 0;
    transition: all 0.15s ease-in-out;
}

.nav-link {
    display: flex;
    align-items: center;
}

.link-text {
    display: none;
    font-size: 1.25rem;
    color: var(--Branco);
}

.toggle-nav {
    display: none;
}

/* UTILITY-BAR */

.utility-container{
    width: 100%;
    padding-left: clamp(4px, 10vw, 480px);
    /* 384px + 5rem da navbar + 8px de padding */
    padding-right: clamp(4px, 10vw, 384px);
    background-color: var(--Vinho);
    transition: all 0.3s ease;
}

.utility-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--Branco);
}

.promo-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 4px 0;
    text-align: center;
    border-bottom: 1px solid var(--Branco);
}

.coupon {
    font-weight: bold;
    font-size: 1.25rem;
    text-wrap: nowrap;
    overflow-x: scroll;
}

.utilities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 10px 0;
    background-color: var(--Branco);
    padding-right: 12px;
    border: none;
}

.search-btn:hover{
    cursor: pointer;
}

.search-input{
    background-color: var(--Branco);
    border: none;
}

.utility-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

/*FOOTER*/

.footer-container {
    margin-top: 4rem;
    background-color: var(--Azul);
}

.footer {
    color: var(--BrancoSuave);
    padding: 1rem;
}

.footer-sections {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 20%;
    min-width: 200px;
    text-align: center;
    padding: 0.5rem;
}

.footer-brand h2 {
    color: var(--Laranja);
}

.footer-section h3 {
    font-size: 1.5rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    font-size: 1rem;
}

.footer-section ul li a {
    text-decoration: none;
    color: inherit;
}

.footer-section ul li a i {
    margin-right: 0.5rem;
}

.flag-image {
    max-width: 30%;
    height: auto;
}

.footer-bottom {
    border-top: 1px solid var(--BrancoSuave);
    margin-top: 2rem;
    padding-top: 0.8rem;
    text-align: center;
}

@media (max-width: 768px) {
    .footer-sections {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        flex: 1 1 auto;
    }
}

/* ------------------- MEDIA QUERIES ------------------- */


/* TELAS PEQUENAS */

@media (max-width: 900px) {
    .navbar {
        top: 0;
        left: -92vw;
        position: fixed;
        width: 100vw;
        height: 85px;
        padding: 0;
        border-radius: 0 10px 10px 0;
    }

    .navbar-nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        height: 100%;
    }

    .logo {
        display: none;
    }

    .nav-item {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        flex-grow: 1;
        margin-left: auto;
    }

    .nav-link {
        height: 100%;
    }

    .toggle-nav {
        display: flex;
        justify-content: center;
        transform: rotate(0deg);
        transition: all 0.3s ease;
        flex-grow: 1;
        max-width: 8vw;
        background-color: var(--Laranja);
        border-radius: 0 10px 10px 0;
    }

    .icon-arrow {
        fill: var(--Branco);
    }

    .coupon{
        font-size: 1rem;
    }

    .promo-text, .socials{
        font-size: 0.875rem;
    }
    
    .footer-container {
        padding-left: clamp(5rem, 10vw, 464px); /* 384px + 5rem da navbar */
        padding-right: clamp(5rem, 10vw, 384px);
    }
}

@media (max-width: 725px) {
    .utility-container{
        padding-left: 10vw;
        padding-right: 1rem;
    }

    .search-container{
        width: 100%;
    }
}

@media (max-width: 600px) {
    .navbar {
        height: 88px;
    }

    .promo-bar {
        justify-content: center;
    }

    .coupon{
        font-size: 1.125rem;
    }

    .promo-text,
    .socials {
        display: none;
    }

    .utility-icons{
        gap: 0.5rem;
    }

    .footer-container {
        padding-left: clamp(4px, 5vw, 464px);
        padding-right: clamp(4px, 5vw, 384px);
    }
}

@media (max-width: 480px) {
    .navbar{
        height: 82px;
    }

    .utility-container{
        padding-left: 10vw;
        padding-right: 0.5rem;
    }

    .coupon{
        font-size: 0.875rem;
    }

    .utility-icons svg{
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 335px) {
    .utility-icons{
        gap: 0;
    }
}

/* TELAS GRANDES */

@media (min-width: 901px) {
    .navbar {
        box-shadow: 4px 0 10px rgba(0, 0, 0, 25%);
    }

    .nav-link svg {
        min-width: 2rem;
        margin: 0 1.5rem;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: block;
    }

    .nav-item:hover {
        background-color: var(--Branco);
    }

    .nav-item:hover svg {
        color: var(--Preto);
    }

    .search-input {
        width: 384px;
    }
    
    .nav-item:hover .link-text {
        color: var(--Preto);
    }

    .footer-container {
        padding-left: clamp(4px, 10vw, 464px); /* 384px + 5rem da navbar */
        padding-right: clamp(4px, 10vw, 384px);
    }
}